body {
    display:block;
    margin: 0;
    overflow-y: hidden;
    animation: fadein 5s ease 3s;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
}
.outer {
    height: 100vh;
    overflow-y: auto;
}
.outer::-webkit-scrollbar{
    display: none;
    transition-property: all;
    transition-duration: 0.5s;
}
.inner {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.divider{
    width: 100%;
    height: 5px;
    background-color:transparent;
}.bg2 {
    background-image: url("../img/bg/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.leftright  {
    transform: translateX(60%);
    opacity: 0;
    transition: .8s;
    transition-duration: 1s;
  }
.leftright.active{
    transform: translateX(20%);
    transition-duration: 1s;
    opacity: 1;
  }
.imgraiden {
    position:relative;
    left:-20%;
}
.mute{
    position:absolute;
    left:3%;
    top: 2%;
}
.mute:hover{
    cursor:pointer;
}
.AF{
    width: 100%;
    height: 80%;
    position:relative;
    left:-3%;
    transition-duration: 1s;
    opacity: 0;
    text-align: center;
    font-size: 30px;
    border-radius: 100px;
}
.AF.active {
    transition-duration: 3s;
    opacity: 0.8;
}
.artifactP {
    height:15px;
    font-size: 20px;
    font-weight: 600;
    margin-top: -1px;
    color:aliceblue;
}
.artifactI {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    text-align: center;
}
.resetbtn {
    margin-top:40px;
    background-color: rgb(71, 25, 71);
    color:blanchedalmond;
    border-color: violet;
    font-size: 20px;
    font-weight: 600;
    width: 20%;
    height: 20%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}